/* common shared style */
body{
    font-family: "Open Sans", sans-serif;
}
button{
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
}


/* style for nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 180px;
}

nav>ul{
    display: flex;
  
    margin-right: 80px;
}
nav li{
    list-style: none;
    margin-right: 51px;
}
nav li>a{
    text-decoration: none;
    color: #474747;
}

nav button{
    width: 150px;
    background: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
}
.margin{
    margin-top: 18px;
}

/* style for header */
.background{

    background-color: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding:30px 30px 0px 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner-greeting{
    color: #474747;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0px;
}
.banner-title{
    color: #181818;
   
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 0px;
}
.banner-pera{
    color: #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin-top: 20px;
}
.download-cv{
    width: 200px;
    background: #FD6E0A;
    color: #FFF;
    border: 0;
    font-size: 20px;
    font-weight: 700;
}
.contact{
    width: 160px;
    border: 1px solid #FD6E0A;
    background: #FFF8F3;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
}
.hardy-image{
    width: 474px;
    height: 566px;
    flex-shrink: 0;
}

/* body style */

/* about me section */

main{
    max-width: 1140px;
    margin: 0px auto;
}
.about-me{

    background: #FFF8F3;
    margin: 130px 0px;
    padding: 130px 157px;


}
.section-title{
    color: #181818;
    text-align: center;
    font-family: "Open Sans";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
    
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
   
}
.info-title{
     color: #757575;
    text-align: center;
   
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0px;
}
.info-description{
    color:  #474747;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    
}

.what-i-do-description
{

    color: #757575;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 157px;
    margin-top:0px ;
   
}
.skill-container{
    display: flex;
    gap:24px;
    margin-top: 50px;
}
.skill{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
   
}
.skill-title{
    color: #181818;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.skill-description{
    color:  #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

/* style for resume */
#gap{
    margin-top: 130px;
}

.resume-container{
    display: flex;
    gap: 20px;
}
.resume-column-title{

    color: var(--Dark-02, #474747);
    font-size: 30px;
    font-weight: 700;
}

.resume-course-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.course-institute{
    color:  #757575;
    font-size: 20px;
    font-weight: 600;

}
.resume-item-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; 
}
 .cv-download-button{
    text-align: center;
    margin-top: 50px;
} 

footer{
    background: #FFF8F3;
    padding: 130px 230px;
    margin-top: 130px;
    display: flex;
    gap: 117px;
}

.footer-column{
    width: 50%;
}
.column-title{
    color: var(--Dark-01, #181818);
    font-family: "Open Sans";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-column-description{
    color: var(--Dark-02, #474747);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.social-link>a{
    margin-right: 24px; 

}
.input-form input[type="text"],.input-form input[type="email"],textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 30px;
    color:  #757575;
    border-radius: 5px;
    background:  #FFF;
    border: 0;
    width: 100%;
    font-size: 16px;
  
    font-weight: 400;
    line-height: 20px;
}
.button-submit{
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    background: #FD6E0A;
    color: #FFF;
    border: 0;
    font-size: 20px;
    font-weight: 700;

}



